<footer class="container footer-page p-4">
  <div class="card text-center">
    <div class="card-header"><%= __('Exercise') %></div>
    <div class="card-body">
      <h5 class="card-title">
        <%= __('Practice 5 Backend Development with JavaScript. Bootcamp IX Keepcoding')
        %>
      </h5>
      <p class="card-text">
        <%= __('Author: Francisco Javier Antúnez Durán aka anbreaker') %>
      </p>
      <a
        href="https://github.com/anbreaker/practica5DesarrolloBackendAvanzado"
        class="btn btn-outline-success"
      >
        <%= __('Go to Github Project') %></a
      >
    </div>
  </div>
</footer>
