<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <div class="container p-2">
      <%- include('partials/navigation') %>
      <h1>NodePop</h1>
      <h2><%= __('Hi!') %> 👋<%= session.authUser.email %></h2>
      <!-- Meter Usuario Aqui... -->
      <div class="jumbotron">
        <!-- < %- include('partials/ul') %> -->
        <table id="tabel" border="1">
          <tbody>
            <tr class="center table-info">
              <td width="200"><h4><%= __('Adverts') %></h4></td>
              <td width="100"><h4><%= __('Sale') %></h4></td>
              <td width="80"><h4><%= __('Cost') %></h4></td>
              <td width="80"><h4><%= __('Photo') %></h4></td>
              <td width="80"><h4><%= __('Tags') %></h4></td>
              <td width="280"><h4><%= __('_id') %>:</h4></td>
              <td width="440"><h4><%= __('Path') %></h4></td>
            </tr>
            <% adverts.forEach(advert => { %>
            <tr class="table-warning">
              <td><%= `${advert.name}` %></td>
              <td class="center">
                <% if(advert.onSale === true){ %> <%= __('true') %> <% } %>
                <!-- Else? -->
                <% if(advert.onSale === false){ %> <%= __('false') %> <% } %>
              </td>
              <td class="center"><%= advert.cost %> <%= __('€') %></td>
              <td class="center">
                <img src="/uploads/thumbnails/<%= advert.imagePath %>.png" alt="img" />
              </td>
              <td class="center"><%= advert.tags %></td>
              <td class="center"><%= advert._id %></td>
              <td class="center"><%= advert.imagePath %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- scripts -->
    <%- include('partials/scripts') %>
  </body>
</html>
