src/public/uploads/
src/public/thumbnail/*.jpeg
src/public/thumbnail/*.jpg
src/public/thumbnail/*.png
src/public/thumbnail/*.gif

package-lock.json
node_modules
microservicioEjemplo/node_modules

.env
.vscode