body {
  padding-bottom: 20px;
  height: 100%;
  margin-bottom: -282px;
}

.footer {
  height: 282px;
}

.decoration:hover {
  background-color: rgb(66, 66, 66);
  border-radius: 7px;
  color: azure;
  padding: 7px;
}